/* 

=============
Theme colours
=============
yellow      #ffc731
black       #080708
blue        #3772ff
pink/red    #df2935
grey/white  #e6e8e6

*/

.page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: rgb(255, 255, 255);
}

h4 {
    font-weight: 100;
    font-family: 'Lato', sans-serif;
}

nav, footer {
    color: #080708;
    background-color: #ffc731;
}

.nav-item {
    color: #080708;
}

.content {
    margin: 20px;
}

.page-content {
    flex: 1;
}

#splash {
    overflow: hidden;
    background: url(bg.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.landing-section-text {
    color: white;
}

.white-link, .white-link:hover {
    color: white !important;
}

.black-link, .black-link:hover {
    color: #080708 !important;
}

#list-area { 
    margin-top: 10px;
}

.action-list-group {
    position: relative;
}

.index-list-title {
    color: #000000
}

.action-list-group .list-group-item {
    padding: 0;
    margin: 10px;
    background: #ffffff;
}

.action-list-group .list-group-item > a.list-group-link {
    display: block;
    padding: 20px 15px;
    color: #171d1c;
}

.action-list-group .list-group-item>a.list-group-link:hover {
    background: #f5f5f5;
    text-decoration: none;
}

.action-list-group .btn {
    position: absolute;
    right: 10px;
    margin-top: 40px;
    top: 0;
}

@media screen and (max-width: 576px) {
    .hide-mobile {
      display: none;
    }
  }



.footer {
    height: 20px;
    background-color: #171d1c;
    color: #fff;
}

td {
    position: relative;
    padding: 5px 10px;
}

#shopping-list td {
    cursor: pointer;
}

/* tr.found-item td:after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #111;
    width: 100%;
} */

tr.found-item {
    color: gray !important;
    background-color: rgb(219, 241, 214);
}

.close-button {
    cursor: pointer;
    display: inline-block;
}

.menu-group {
    border: 1px solid black;
    padding: 20px 30px 20px 10px;
    border-radius: 10px;
  }

.btn-yellow {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000;
    border-style: none;
    background-color: #ffc731;
    cursor: pointer;
}

.btn-yellow:hover, .btn-yellow:focus, .btn-yellow:active, .btn-yellow.active, .open>.dropdown-toggle.btn-yellow {
    color: #000;
    background-color: #e6a800;
}


.btn-blue {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    border-style: none;
    background-color: #3772ff;
    cursor: pointer;
}

.btn-blue:hover, .btn-blue:focus, .btn-blue:active, .btn-blue.active, .open>.dropdown-toggle.btn-blue {
    color: #fff;
    background-color: #004cff;
}

.break-words {
    word-break: break-word;
}