{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<a href="{% url 'my_lists' %}">Back to My Lists</a>

<hr>

{% if user == shopping_list.owner %}
{% include 'invite_form.html' %}
{% endif %}

<h1>{{ shopping_list.name }}</h1>
<hr>
<table id='shopping-list' class='inline-table'>
    <tbody>
        {% for item in items %}
        {% if item.found %}<tr class="found-item click-area">{% else %}
        <tr class="click-area">{% endif %}
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.date_created|naturaltime }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<table id='close-buttons' class='inline-table'>
    <form>
        {% csrf_token %}
        <tbody>
            {% for item in items %}
            <tr>
                <td class="close-button">✖</td>
            </tr>
            {% endfor %}
        </tbody>
    </form>
</table>

<hr>

<table>
    <form method="post" id="post-form" onsubmit="return false;">
        {% csrf_token %}
        <tr>
            <td>{{ new_item_form.item }}</td>
            <td>{{ new_item_form.quantity }}</td>
            <td><input type="submit" value="Add item"></td>
        </tr>
    </form>
</table>

<form action="{% url 'delete_list' object.pk %}" method=POST>{% csrf_token %}<button class="btn btn-danger">Delete List</button></form>

{% endblock content %}

{% block scripts %}
<script src="{% static 'app_static/addItem.js' %}"></script>
{% endblock scripts %}