{% extends 'base.html' %}
{% load static %}}
{% load humanize %}

{% block content %}

<section class="content">
    <div class="row">
        <div class="col-xl-6">
            <div class="menu-group">
                <h2>Your Shopping Lists</h2>
                <ul class="list-group action-list-group">
                    {% for shopping_list in shopping_lists.owned_lists %}
                    <li class="list-group-item">
                        <a class="list-group-link" href='{% url "list_detail" shopping_list.pk %}'>
                            <h4 class="index-list-title">{{ shopping_list }}</h4>
                            <small class="text-muted">Created: {{ shopping_list.date_created|naturaltime }}</small>
                            <br>
                            <small class="text-muted">Owner: {{ shopping_list.owner.email }}</small>
                        </a>
                        {% if shopping_list.owner == user %}
                        <form action="{% url 'delete_list' shopping_list.pk %}" method=POST>{% csrf_token %}<button class="btn btn-sm btn-danger">Delete</button></form>
                        {% else %}
                        <form action="{% url 'hide_list' shopping_list.pk %}" method=POST>{% csrf_token %}<button class="btn btn-sm btn-danger">Hide</button></form>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                <a class="btn btn-yellow" href="{% url 'create_list' %}">Create new shopping list</a>
            </div>
        </div>
    </div>

    <hr>
    
<section class="content">
{% endblock content %}