{% load humanize %}
{% load spacer %}

<table class="table" id='shopping-list'>

    <thead>
        <tr>
            <th class="sort-title" data-sort="0">Item <i class="fa fa-fw fa-sort"></i></th>
            <th class="sort-title" data-sort="1">Quantity <i class="fa fa-fw fa-sort"></i></th>
            <th class="hide-mobile" data-sort="2">Added</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for item in items %}
        {% if item.found %}<tr class="found-item">{% else %}<tr>{% endif %}
            <td class="break-words"><div class="click-area">{{ item.name|spacer }}</div></td>
            <td class="break-words"><div class="click-area">{{ item.quantity|spacer }}</div></td>
            <td class="break-words hide-mobile"><small class="text-muted"><div class="click-area">{{ item.date_created|naturaltime }}</div></small></td>
            <td><div class="close-button">✖</div></td>
            <td style="display:none;">{{ item.date_created|date:"c" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>