{% load humanize %}
{% load spacer %}

<table class="table" id='shopping-list'>

    <thead>
        <tr>
            <th class="sort-title" data-sort="0">Item <i class="fa fa-fw fa-sort"></i></th>
            <th class="sort-title" data-sort="1">Quantity <i class="fa fa-fw fa-sort"></i></th>
            <th class="hide-mobile" data-sort="2">Added</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for item in items %}
        {% if item.found %}<tr class="found-item">{% else %}<tr>{% endif %}
            <td class="click-area break-words">{{ item.name|spacer }}</td>
            <td class="click-area break-words">{{ item.quantity|spacer }}</td>
            <td class="click-area break-words hide-mobile"><small class="text-muted">{{ item.date_created|naturaltime }}</small></td>
            <td>
                <div class="edit-button">
                    <i class="fas fa-edit"></i>
                </div>
                <div class="close-button">
                    <i class="fas fa-times"></i>
                </div>
            </td>
            <td style="display:none;">{{ item.date_created|date:"c" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>